.tartalom
{
background-color: lightblue;
border: 2px solid grey;
padding: 10px;
}

ul
{
list-style-type: none;
text-align: left;
padding: 10px;
float: left;
width: 100%;
background-color: blue;
color: yellow;
}

li
{
display: inline;
padding-left: 40px;
}

#auto
{
float: right;
width: 250px;
}

.kiemelt
{
color: red;
font-weight: bold;
}

body
{
background-color: blue;
}

a
{
text-decoration: none;
}

li a
{
color: yellow;
}

h1
{
text-align: center;
text-decoration: underline;
font-size:30px;
margin-bottom: 20px;
}

p
{
text-align: justify;
}

.forras
{
text-align: end;
}


form
{
position:relative;
transform: translate(200px, 0px);

}


input
{
display:block;
}

button
{
margin-top: 10px;
}