#keret{
    margin:auto;
    border-style: none solid;
	border-color:gray;
    border-width: 20px;
    width:70%;
    padding:20px;
}
.ritka{
    letter-spacing: 4px;
    
}
#kep{
    width:40%;
    box-shadow: 8px 8px 5px gray;
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    border-radius: 10px;
    border-style: solid;
    float:right;
    margin:30px;
    border:3px;
}
input{
    font-family:cursive; 
    font-weight: bold;
    border-radius: 5px;
    width:40px;
    color:forestgreen;
    font-size: 18px;   
}
body{
    font-family: cursive;
}

p{
    text-align: justify;
}

body{
    background-image:url("hatter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul li{
    font-weight: bold;
    font-style: italic;
    list-style-type:square;
}